@import '../../styles/variables';

.team-member {
    display: flex;
    flex-direction: row;
    color: #fff;
    max-width: 900px;
    margin: 3rem 4rem;

    &:nth-of-type(2n) {
        flex-direction: row-reverse;

        .team-member__description {
            margin-right: 50px;
            margin-left: 0;
        }

        .team-member__portrait {
            margin-left: 50px;
            margin-right: 0;
        }
    }

    @media (min-width: 832px) and (max-width: 1028px) {
        margin: 3rem 1rem;
        max-width: 800px;
    }

    @media (min-width: 773px) and (max-width: 831px) {
        margin: 3rem 1rem;
        max-width: 740px;

        .team-member__description {
            margin-left: 20px;
        }

        .team-member__portrait {
            margin-right: 20px;
        }

        &:nth-of-type(2n) {
            .team-member__description {
                margin-right: 20px;
            }

            .team-member__portrait {
                margin-left: 20px;
            }
        }
    }

    @media (max-width: 772px) {
        flex-direction: column;
        max-width: 400px;
        margin: 2rem 1rem;

        &:nth-of-type(2n) {
            flex-direction: column;

            .team-member__description,
            .team-member__portrait {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }

        .team-member__description,
        .team-member__portrait {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}

.team-member__portrait {
    position: relative;
    display: flex;
    flex-shrink: 1;
    width: 50%;
    margin-right: 50px;

    &-primary {
        position: relative;
    }

    &-secondary {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: 8s ease-in-out 0s infinite portraitMove;

        &.no-hover {
            animation: none;
        }
    }
    .team-member:nth-of-type(2n) & .team-member__portrait-secondary {
        animation-duration: 6s;
    }

    .team-member:nth-of-type(3n) & .team-member__portrait-secondary {
        animation-duration: 7s;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.team-member__description {
    width: 50%;
    margin-left: 50px;

    @media (max-width: 772px) {
        margin-top: 10px;
    }
}

.team-member__name {
    color: inherit;

    h2 {
        display: inline-block;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;

        &:after {
            content: '';
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-left: 9px;
            margin-bottom: 5px;
            opacity: 0;
            transition: opacity 0.32s ease;
            background: url(../../assets/logos/ln.svg);
            vertical-align: middle;

            @media (pointer: coarse) {
                opacity: 1;
            }
        }
    }
}

@media (pointer: fine) {
    .team-member__name:hover h2:after {
        opacity: 1;
    }
}

.team-member__title {
    padding-top: 0.25rem;
    display: block;
    font-style: $font-family-light;
    font-weight: lighter;
    opacity: 0.8;
}

.team-member__skills {
    margin: 1em 0 0;
}

@keyframes portraitMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 8px);
    }
    75% {
        transform: translate(0, -8px);
    }
    100% {
        transform: translate(0, 0);
    }
}
