.vscode
.idea
node_modules
.editorconfig
.gitignore
package-lock.json
package.json
README.md
main.css
*.svg
*.min.js

.next
out

public
!public/assets
!public/favicon.ico
!public/manifest.json
!public/robots.txt
