@import '../../../../styles/variables';

.portfolio-header {
    height: 300px;
    position: relative;
    z-index: 4;

    &__title {
        z-index: 6;
        position: absolute;
        bottom: 5rem;
        margin-top: 0;
        padding: 0 8rem;
        color: $color-typography-white;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 700;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 800px;
        min-height: 100%;
    }

    &__characters {
        position: relative;
        max-width: 1920px;
        height: 100%;
        margin: 0 auto;
    }

    &__iglu {
        z-index: 5;
        position: absolute;
        top: -7rem;
        left: 0;
        width: 45rem;
    }

    &__eskimos {
        z-index: 5;
        position: absolute;
        top: -17rem;
        right: 0;
        width: 40rem;
    }
}
