.project {
    position: relative;
    margin-top: -100px;

    @media (max-width: 770px) {
        margin-top: 0;
    }
}

.project__content {
    display: flex;
    color: white;
    padding: 100px 160px;

    @media (max-width: 1180px) {
        padding: 100px 80px;
    }

    @media (max-width: 770px) {
        padding: 100px 40px;
        flex-direction: column;
    }

    .project--right & {
        align-items: flex-end;
        flex-direction: row-reverse;
        text-align: right;

        @media (max-width: 770px) {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }
    }
}

.project__background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    left: 0;

    @media (max-width: 770px) {
        display: none;
    }
}

.project__logo {
    margin: 0 2rem 0 0;
    align-self: center;

    @media (max-width: 770px) {
        margin: 0;
    }

    .project--right & {
        margin: 0 0 0 2rem;

        @media (max-width: 770px) {
            margin: 0;
        }
    }

    * {
        width: 150px;
    }
}

.project__text {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding-top: 1rem;

    @media (max-width: 1180px) {
        max-width: 60%;
    }

    @media (max-width: 770px) {
        max-width: 100%;
        align-items: center;
    }

    .project--right & {
        align-items: flex-end;

        @media (max-width: 770px) {
            align-items: center;
        }
    }
}

.project__description {
}

.project__title {
    text-align: inherit;
    margin: 0 0 2.25rem 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: calc(-2.25rem / 2 - 6px);
        left: 0;
        height: 12px;
        width: 126px;
        background: url(../../assets/team/title-line-team.svg) no-repeat top center;
        background-size: 90%;
    }

    .project--right &:after {
        right: 0;
        left: unset;
    }
}

.project__tags {
    text-align: inherit;
}

.project__description {
    position: relative;
}

.project__collaboration-title {
    font-size: 16px;
    margin: 0;
}

.project__collaboration {
    margin: 0;
}
