.footer {
    display: flex;
    justify-content: space-around;
    background: #011e2b;
    color: #fff;
    padding: 0 1rem;

    @media (max-width: 767px) {
        font-size: 14px;
    }

    @media (max-width: 424px) {
        justify-content: left;
    }
}

.footer__links {
    display: flex;
}

.footer__links-item {
    &:first-child .footer__link {
        padding-left: 0;
    }

    &:last-child .footer__link {
        padding-right: 0;
    }
}

.footer__link {
    display: block;
    padding: 0.75em 1rem;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    @media (max-width: 424px) {
        padding: 0.75em 0.5rem;
        & span {
            display: none;
        }
    }

    & span {
        @media (max-width: 767px) {
            display: none;
        }
    }
}
