* {
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
    background: $color-primary;
}
html {
    font-size: $font-size;
}
body {
    margin: 0;
    background: $color-primary;
    color: $color-dark;
    font-size: $font-size;
}
a {
    color: $color-primary;
}

#root {
    overflow: hidden;
}
