.text {
    &--upper-case {
        text-transform: uppercase;
    }
    &--white {
        color: $color-typography-white;
    }
    &--gray {
        color: $color-typography-med-gray;
    }
}

.muted,
.muted a {
    color: $color--muted;
}
.mt-0 {
    margin-top: 0;
}
