/* General */
$space-x: 1rem;
$space-y: 1em;

/* Colors */
$color-primary: #1396d4;
$color-dark: #032230;

$bg: #fff;
$color: #000;
$color--muted: #555;

/* Typography */
$color-typography-white: #fff;
$color-typography-med-gray: #a1cada;

$font-size: 16px;
$font-size--h1: 2em;
$font-size--h2: 1.75em;
$font-size--h3: 1.5em;
$font-size--h4: 1.25em;
$font-size--h5: 1.25em;
$font-size--h6: 1em;
$font-size--sm: 0.875em;

$font-family: 'Source Sans Pro', sans-serif;
$font-family-light: 'Source Sans Light', sans-serif;
$font-family--h1: inherit;
$font-family--h2: inherit;
$font-family--h3: inherit;
$font-family--h4: inherit;
$font-family--h5: inherit;
$font-family--h6: inherit;

$font-weight: 300;
$font-weight--h1: 400;
$font-weight--h2: 400;
$font-weight--h3: 400;
$font-weight--h4: 400;
$font-weight--h5: 400;
$font-weight--h6: 400;

/* Buttons */

$btn-bg: #1971c2;
$btn-color: white;

/* Z-index */
$zindex--stars: 1;
$zindex--svg: 2;
$zindex--text: 3;

/* Layout */
$max-width: 64rem;

/* Schemas */
$schema-blue-bg: #1971c2;
$schema-blue-color: #fff;
