@import '../../styles/variables';

#team {
    padding: 2rem 0 25rem;
    background: #032230;
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: -1px; // 0 leaves spaces on some screens
        left: 0;
        height: 17vh;
        width: 100%;
        background-color: #1396d4;
        z-index: 1;
    }
}

.team-wrapper {
    position: relative;
    padding-top: 15vh;
    max-width: 1480px;
    margin: auto;
    z-index: 3;
}

.team {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        line-height: 1.5rem;
        font-size: 1rem;
    }
    &__top-fold {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 125vh;
        z-index: 2;
        margin-top: auto;
        background: url(../../assets/team/team-fold_reverse.svg) no-repeat top center;
        background-size: cover;
        pointer-events: none;
    }
}

.team__clouds {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 300px;

    @media (max-width: 772px) {
        display: none;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        content: '';
        width: 50%;
        height: 100%;
        background-repeat: repeat-y;
    }

    &:before {
        left: 0;
        background-image: url('../../assets/team/left_clouds.svg');
        background-position-y: 400px;
        background-position-x: left;
    }

    &:after {
        right: 0;
        background-image: url('../../assets/team/right_clouds.svg');
        background-position-y: 290px;
        background-position-x: right;
    }
}

.team__section {
    margin: 5rem auto 3rem;
    padding: 0 1rem;
    text-align: center;
    color: #1396d4;
    max-width: 600px;

    .team__heading {
        margin-bottom: 2.25rem;
        font-size: 2.5em;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: calc(50% - 126px / 2);
            bottom: calc(-2.25rem / 2 - 6px);
            height: 12px;
            width: 126px;
            background: url(../../assets/team/title-line-team.svg) no-repeat top center;
            background-size: 90%;
        }
    }

    .team__description {
        font-size: 1.25em;
    }

    @media (max-width: 772px) {
        max-width: 400px;

        .team__description {
            font-size: 1.125em;
        }
    }
}
