.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 50vw;
    color: #fff;

    h1 {
        font-size: 3em;
        font-weight: 200;
        @media (orientation: portrait) and (max-width: 767px) {
            font-size: 2em;
        }
    }

    h1 strong {
        font-weight: 600;
    }

    p {
        margin: 5vw auto 0;
        font-size: 2.5em;
        @media (orientation: portrait) and (max-width: 767px) {
            font-size: 1em;
            max-width: 320px;
            padding-right: 1em;
            padding-left: 1em;
        }
    }

    p strong {
        font-weight: 600;
    }
}

.invisible {
    opacity: 0.1;
}

.jumbotron__content {
    text-align: center;
    padding: 0 1rem;
}
