@import "../../styles/variables";

.journey-wrapper {
    background-color: #1396d4;
    position: relative;
    //height: 1000px;
    overflow: hidden;
}

.journey {
    padding-top: 2rem;
    position: relative;
    background: #1396d4 url(../../assets/Timeline_line.svg) no-repeat center;
    background-size: contain;
    background-position-y: 100px;
    top: 0;
    height: 600px;
    margin: 0 auto;
    max-width: 1250px;

    @media (max-width: 900px) {
        background: #1396d4;
        max-width: 750px;
        height: 700px;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    &__header {
        color: #ffffff;

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            @media (max-width: 900px) {
                text-align: left;
                padding: 0 41px;
            }
        }
    }
    &__content {
        position: absolute;
        top: 100px;
        bottom: 75px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 41px;

        @media (max-width: 900px) {
            padding-right: 20px;
            bottom: 15px;
        }
    }
}

.mask {
    width: 100%;
    height: 100%;
    top: 156px;
    left: 0;
    right: 0;
    opacity: 1;
    position: absolute;
    background: #1396d4;
    background: linear-gradient(to bottom, rgba(32, 150, 212, 0), #1396d4 5%);
    transition: top 500ms linear;
}
.event-wrapper {
    position: relative;
    display: flex;
    width: 40%;
    flex: 1;

    &--left {
        left: 0;
        right: 60%;
        justify-content: flex-end;
        @media (min-width: 901px) {
            text-align: right;
        }
    }

    &--right {
        left: 60%;
        right: 0;
        justify-content: flex-start;
    }

    @media (max-width: 900px) {
        &--left,
        &--right {
            left: 0;
            right: 0;
            width: 100%;
            justify-content: flex-start;
            margin: 0 auto;
        }
    }
}

.event {
    position: relative;
    width: auto;
    max-width: 350px;
    color: #ffffff;
    transition: opacity 800ms, visibility 800ms;
    @media (max-width: 900px) {
        max-width: 100%;
    }
}

.event__year {
    font-size: 24px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: -12px;
        height: 12px;
        width: 100px;
        background: url(../../assets/title-line.svg) no-repeat top center;
        background-size: 90%;

        .event-wrapper--left & {
            right: -25px;
            transform: scaleX(-1);
            filter: flipH();

            @media (max-width: 900px) {
                right: unset;
                left: -25px;
                transform: none;
                filter: none;
            }
        }

        .event-wrapper--right & {
            left: -25px;
        }
    }

    @media (max-width: 900px) {
        font-size: 20px;
    }
}

.event__title {
    margin-top: 0.5em;
    font-size: 22px;
    font-weight: 500;

    @media (max-width: 900px) {
        font-size: 18px;
    }
}

.event__project {
    font-size: 20px;
    margin: 0;
    opacity: 0.8;

    @media (max-width: 900px) {
        font-size: 16px;
    }
}
