@import './variables';

.text {
    &--upper-case {
        text-transform: uppercase;
    }
    &--white {
        color: $color-typography-white;
    }
    &--gray {
        color: $color-typography-med-gray;
    }
}

body {
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
    @media (min-width: 1024px) {
        font-size: 18px;
    }
    @media (min-width: 1920px) {
        font-size: 20px;
    }
}
