@import './variables';

.text {
  &--upper-case {
    text-transform: uppercase;
  }
  &--white {
    color: $color-typography-white;
  }
  &--gray {
    color: $color-typography-med-gray;
  }
}

body {
  font-size: 16px;
}
