.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #011e2b;
  color: #fff;
  padding: 0 1rem;

  @media (max-width: 767px) {
    font-size: 14px;
  }

  @media (max-width: 424px) {
    justify-content: left;
  }
}

.footer__links {
  display: flex;
}

.footer__links-item {
  &:first-child .footer__link {
    padding-left: 0;
  }

  &:last-child .footer__link {
    padding-right: 0;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  padding: 0.75em 1rem;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;

  @media (max-width: 424px) {
    padding: 0.75em 0.5rem;
  }

  &:hover {
    opacity: 1;
  }

  &--small {
    padding: 0.5em 1rem;
    font-size: 0.875em;
    opacity: 0.6;
  }

  svg {
    margin-right: 0.25rem;
    width: 1rem;
    height: 1rem;

    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  & span {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
