@use 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  background: variables.$color-primary;
  overflow-x: hidden;
}

html {
  font-size: variables.$font-size;
  scroll-behavior: smooth;
}

body {
  background: variables.$color-primary;
  color: variables.$color-dark;
  margin: 0;
}

.muted,
.muted a {
  color: variables.$color--muted;
}

.mt-0 {
  margin-top: 0;
}

a {
  color: variables.$color-primary;
}

.ico {
  display: inline-block;
  fill: #fff;
  height: 1.5em;
  vertical-align: top;
  width: 1.5em;

  &--sm {
    height: 1em;
    margin: 0.25em;
    width: 1em;
  }

  &--logo {
    height: 2.25em;
    vertical-align: top;
    width: 3em;
  }
}
