img {
  display: block;
  outline: none;
  width: 100%;
}

.cover {
  background: rgba(33, 37, 41, 0.2);
  display: block;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;

  img {
    display: block;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &--portrait {
    padding-bottom: 150%;
  }

  &--landscape {
    padding-bottom: 66.6665%;
  }

  &--wide {
    padding-bottom: 50%;
  }

  &--superwide {
    padding-bottom: 25%;
  }

  &--square {
    padding-bottom: 100%;
  }

  &--circle {
    border-radius: 50%;
    padding-bottom: 100%;
  }
}
