.journey {
    background: #2096d4 url(../assets/Timeline_line.svg) center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 140px;
    padding: 20px 0;
    position: relative;
    height: 1200px;
    overflow: hidden;
    @media (max-width: 1023px) {
        background: #2096d4 url(../assets/Timeline_line.svg) no-repeat;
        background-position: 90%;
        background-position-y: 140px;
    }
}

.mask {
    width: 100%;
    height: 100%;
    top: 156px;
    left: 0;
    right: 0;
    opacity: 1;
    position: absolute;
    background: #2096d4;
    background: linear-gradient(to bottom, rgba(32, 150, 212, 0), rgba(32, 150, 212, 1) 5%);
}

.journey__content {
    color: #ffffff;

    & h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.event {
    position: absolute;
    width: auto;
    max-width: 300px;
    color: #ffffff;
    transition: opacity 800ms, visibility 800ms;
    @media (max-width: 1023px) {
        font-size: 12px;
        padding-right: 40px;

        &--left,
        &--right {
            left: 10%;
        }
    }

    &--left {
        left: 15%;
    }

    &--right {
        right: 15%;
    }
}

.event__date {
    opacity: 0.8;
}

.event__name {
    margin-top: 0;
}

.event__circle {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 8px;
    right: -30px;
    @media (max-width: 1023px) {
        display: none;
        right: 0;
        left: -30px;
    }

    &--right {
        right: unset;
        left: -30px;
    }
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

.beginning {
    top: 170px;
}

.design-project {
    top: 280px;
}

.spa {
    top: 430px;
    max-width: 400px;
}

.app {
    top: 580px;
}

.ux-project {
    top: 730px;
}

.new-team {
    top: 880px;
}
