.journey-wrapper {
  background-color: #1396d4;
  //height: 1000px;
  overflow: hidden;
  position: relative;
}

.journey {
  background: #1396d4 url('/assets/Timeline_line.svg') no-repeat center;
  background-position-y: 100px;
  background-size: contain;
  margin: 0 auto;
  max-width: 1250px;
  padding: 2rem 0;
  position: relative;

  @media (max-width: 770px) {
    background: #1396d4;
    max-width: 750px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  &__header {
    color: #fff;
  }

  &__header h1 {
    font-weight: 700;
    margin: 0 0 1rem;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 770px) {
      padding: 0 41px;
      text-align: left;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 41px;

    @media (max-width: 770px) {
      bottom: 15px;
      padding-right: 20px;
    }
  }
}

.mask {
  background: #1396d4;
  background: linear-gradient(to bottom, rgba(32, 150, 212, 0), #1396d4 5%);
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 156px;
  transition: top 500ms linear;
  width: 100%;
}

.event-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  width: 40%;

  &--left {
    justify-content: flex-end;
    left: 0;
    right: 60%;
    @media (min-width: 771px) {
      text-align: right;
    }
  }

  &--right {
    justify-content: flex-start;
    left: 60%;
    right: 0;
  }

  @media (max-width: 770px) {
    &--left,
    &--right {
      justify-content: flex-start;
      left: 0;
      margin: 0 auto;
      right: 0;
      width: 100%;
    }
  }
}

.event {
  color: #fff;
  max-width: 350px;
  position: relative;
  transition: opacity 800ms, visibility 800ms;
  width: auto;

  @media (max-width: 770px) {
    margin: 0.75rem 0;
    max-width: 100%;
  }
}

.event__year {
  font-size: 24px;
  position: relative;

  &::after {
    background: url('/assets/title-line.svg') no-repeat top center;
    background-size: 90%;
    bottom: -12px;
    content: '';
    height: 12px;
    position: absolute;
    width: 100px;
  }

  .event-wrapper--left &::after {
    filter: flipH();
    right: -25px;
    transform: scaleX(-1);

    @media (max-width: 770px) {
      filter: none;
      left: -25px;
      right: unset;
      transform: none;
    }
  }

  .event-wrapper--right &::after {
    left: -25px;
  }

  @media (max-width: 770px) {
    font-size: 20px;
  }
}

.event__title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0.5em;

  @media (max-width: 770px) {
    font-size: 18px;
  }
}

.event__project {
  font-size: 20px;
  margin: 0;
  opacity: 0.8;

  @media (max-width: 770px) {
    font-size: 16px;
  }
}
