.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 50vw;
    color: #fff;

    & h1 {
        font-size: 3.75vw;
        font-weight: 200;
        @media (orientation: portrait) and (max-width: 767px) {
            font-size: 2em;
        }
    }

    & h1 strong {
        font-weight: 600;
    }

    & p {
        margin: 5vw auto 0;
        font-size: 2.5vw;
        @media (orientation: portrait) and (max-width: 767px) {
            font-size: 1em;
            max-width: 320px;
            padding-right: 1em;
            padding-left: 1em;
        }
    }

    & p strong {
        font-weight: 600;
    }
}

.jumbotron__content {
    position: absolute;
    width: calc(100% - 17px);
}

.jumbotron__background {
    z-index: 1;
    width: 100vw;
    height: 30vh;
    margin-top: auto;
    background: url(../assets/star-background.svg) top;
    background-size: cover;
}

.jumbotron__star-one {
    position: absolute;
    right: 25%;
    bottom: 10%;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../assets/star.svg) center;
}

.jumbotron__star-two {
    position: absolute;
    left: 25%;
    bottom: 15%;
    width: 0.75rem;
    height: 0.75rem;
    background: url(../assets/star.svg) center;
}

/* @media (min-width: 768px) {
  .jumbotron__content {
    font-size: 1.5rem;
  }
} */
