@use 'variables';

.navigation-wrapper {
  color: #fff;
  height: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  z-index: 10000;
}

.navigation {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0.5rem 3rem 0;
  }

  @media (min-width: 1536px) {
    font-size: 1.25vw;
  }

  a {
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 1em;
    position: relative;
    text-decoration: none;
  }
}

.navigation__items {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: 512px) {
    display: flex;
  }

  @media (max-width: 512px) {
    background: variables.$color-primary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
    left: 0;
    opacity: 0;
    padding-top: 56px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -300px;
    transition: opacity 0.32s ease;
    transition-property: transform, opacity;

    .navigation--open & {
      opacity: 1;
      pointer-events: all;
      transform: translateY(300px);
    }

    .navigation--open.fixed.down & {
      opacity: 0;
      pointer-events: none;
      transform: translateY(0);
    }
  }
}

.navigation__header {
  display: inline;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;

  @media (min-width: 1536px) {
    font-size: 1.25vw;
  }
}

.navigation__home {
  margin: 0;
  position: relative;
  z-index: 2;
  @media (max-width: 511px) {
    background: variables.$color-primary;
  }

  a {
    font-weight: 300;
    padding: 1.25em 1em 0.75em 3.5em;
    @media (min-width: 512px) {
      padding: 1em 1em 1em 3.5em;
    }
  }

  svg,
  img {
    height: 2.25em;
    left: 0;
    position: absolute;
    top: 0.5em;
    vertical-align: top;
    width: 3em;

    @media (min-width: 512px) {
      top: 0.3em;
    }
  }
}

.navigation__burger {
  display: block;
  margin: 0;
  @media (min-width: 512px) {
    display: none;
  }

  button {
    background: none;
    border: 0;
    cursor: pointer;
    height: 56px;
    padding: 10px;
    position: absolute;
    right: 6px;
    top: 0;
    width: 56px;
    z-index: 2;
  }

  button > span {
    display: block;
    height: 36px;
    position: relative;
    width: 36px;
  }

  span span {
    background-color: #fff;
    border-radius: 10px;
    display: block;
    font: 0/0 a;
    font-size: 0;
    height: 4px;
    position: absolute;
    right: 0;
    top: calc(50% - 3px);
    transition: background-color 0.2s;
    width: 100%;
  }

  span span::before,
  span span::after {
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    transition: all 0.4s;
    width: 100%;
  }

  span span::before {
    transform: translateY(-250%);
    width: 90%;
  }

  span span::after {
    transform: translateY(250%);
    width: 70%;
  }

  /* stylelint-disable-next-line selector-max-compound-selectors */
  .navigation--open & span span {
    background-color: rgba(0, 0, 0, 0);
  }

  /* stylelint-disable-next-line selector-max-compound-selectors */
  .navigation--open & span span::before {
    transform: translateY(0) rotate(45deg);
    width: 100%;
  }

  /* stylelint-disable-next-line selector-max-compound-selectors */
  .navigation--open & span span::after {
    transform: translateY(0) rotate(-45deg);
    width: 100%;
  }
}

.navigation {
  @media (max-width: 511px) {
    background: variables.$color-primary;
  }

  &.fixed {
    background: variables.$color-primary;
  }

  &.fixed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 0;
    position: fixed;
    top: -105px;
    transform: translateY(0);
    transition: all 0.32s ease;
    width: 100%;
  }

  &.fixed.up {
    transform: translateY(105px);
    @media (max-width: 767px) {
      transform: translateY(105px);
    }
  }
}
