/*
    <nav class="navigation-scrollable">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Manuals</a></li>
            <li><a href="#">Shortcuts</a></li>
        </ul>
    </nav>
*/
.navigation-scrollable {
    height: 3em;

    & ul {
        display: flex;
        margin: 0;
        padding: 0 1rem;
        list-style: none;
    }
    & a {
        display: block;
        padding: 0.75em 1em;
        background-color: $navigationBgColor;
        color: #fff;
        text-decoration: none;

        &:focus,
        &:hover {
            background-color: $navigationBgColorHover;
            color: #fff;
        }
        &:active,
        &.is-active {
            background-color: $navigationBgColorActive;
            color: #fff;
        }
    }
}
.navigation-scrollable__inner {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $navigationBgColor;
    color: #fff;
    z-index: 1000;
    white-space: nowrap;
}
