$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

#portfolio-stars {
  display: none;
  height: 33.75rem;

  @include md {
    display: block;
  }
}

.PortfolioBG_svg__portfolio-background {
  display: none;
  width: 1920px;
  height: auto;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -1px;
  z-index: 1;

  @include md {
    display: block;
  }
}

.portfolio2 {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #032230;
  padding-top: 15vh;
  overflow: hidden;

  @include md {
    height: 2392px;
  }
}

.portfolio2-header {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  margin-bottom: auto;
  background-color: #043f5a;
  padding: 0 1rem;

  @include md {
    background: none;
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.portfolio2-project-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.portfolio2-project {
  display: flex;
  color: #fff;
  align-items: center;
  padding: 4rem 1rem;
  background: linear-gradient(180deg, #043f5a -4.28%, #032230 125.15%);

  @include md {
    &:first-of-type {
      height: 29.875rem;
    }

    padding: 0 1rem;
    background: none;

    height: 36.875rem;
    max-width: 43.75rem;

    text-align: right;
    align-self: center;
    margin-left: 5rem;
  }

  @include lg {
    padding: 0;
    margin-left: 15rem;
  }

  &:nth-of-type(2n) {
    @include md {
      text-align: left;
      margin-left: 0;
      margin-right: 5rem;
      flex-direction: row-reverse;
    }
    @include lg {
      margin-right: 15rem;
    }
  }

  &__title {
    font-size: 2.25rem;
    margin: 0;
  }

  &__squiggle {
    margin-top: 1rem;
  }

  &__description {
    font-size: 1.125rem;
  }

  &__tags {
    padding: 0;
  }

  &__tags-item {
    display: inline-block;
    color: #1396d4;
    font-size: 1.125rem;
    font-style: italic;
  }

  &__tags-item:not(:first-child):before {
    padding-left: 0.25rem;
    content: '\00a0\2022\00a0\00a0';
    color: #1396d4;
  }

  &__external {
    font-size: 1.125rem;
    color: #1396d4;
  }

  &__external-project,
  &__external-award {
    text-decoration: none;
  }

  &__logo {
    display: none;
    margin-left: 2rem;

    @include md {
      display: block;
    }
  }

  &:nth-of-type(2n) &__logo {
    margin-left: 0;
    margin-right: 2rem;
  }
}
