$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@keyframes fire_burning_lg {
  0% {
    opacity: 90%;
    transform: skewX(0) translateX(0);
  }

  25% {
    opacity: 100%;
    transform: skewX(0.022deg) translateX(-0.06%);
  }

  75% {
    opacity: 85%;
    transform: skewX(-0.022deg) translateX(0.06%);
  }

  100% {
    opacity: 90%;
    transform: skewX(0) translateX(0);
  }
}

@keyframes fire_burning_md {
  0% {
    opacity: 100%;
    transform: skewX(0) translateX(0);
  }

  25% {
    opacity: 90%;
    transform: skewX(0.02deg) translateX(-0.05%);
  }

  75% {
    opacity: 95%;
    transform: skewX(-0.02deg) translateX(0.05%);
  }

  100% {
    opacity: 100%;
    transform: skewX(0) translateX(0);
  }
}

@keyframes fire_burning_sm {
  0% {
    transform: skewX(0) translateX(0);
  }

  25% {
    transform: skewX(0.015deg) translateX(-0.04%);
  }

  75% {
    transform: skewX(-0.015deg) translateX(0.04%);
  }

  100% {
    transform: skewX(0) translateX(0);
  }
}

@keyframes fire_glow_lg {
  0% {
    opacity: 0.05;
  }

  25% {
    opacity: 0.15;
  }

  75% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.05;
  }
}

@keyframes fire_glow_sm {
  0% {
    opacity: 0.15;
  }

  25% {
    opacity: 0.05;
  }

  75% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.15;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/* stylelint-disable-next-line selector-max-id */
#portfolio-stars {
  display: none;
  height: 33.75rem;

  @include md {
    display: block;
  }
}

@mixin background-svg {
  bottom: -1px;
  display: none;
  height: auto;
  left: 50%;
  min-width: 1920px;
  position: absolute;
  top: 15vh;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;

  @include md {
    display: block;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__portfolio-background-top {
  @include background-svg;
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Bottom_svg__portfolio-background-bottom {
  @include background-svg;
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__fire-glow-lg {
  animation: 5s ease-in-out 0s infinite fire_glow_lg;
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__fire-glow-sm {
  animation: 5s ease-in-out 0s infinite fire_glow_sm;
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__fire-lg {
  animation: 5s ease-in-out 0s infinite fire_burning_lg;
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__fire-md {
  animation: 2s ease-in-out 0s infinite fire_burning_md;
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__fire-sm {
  animation: 4s ease-in-out 0s infinite fire_burning_sm;
}

.portfolio {
  background-color: #032230;
  display: flex;

  flex-direction: column;
  overflow: hidden;
  padding-top: 15vh;
  position: relative;

  @include md {
    height: 3155px;
  }
}

.portfolio-header {
  background-color: #043f5a;
  color: #fff;
  display: block;
  margin-bottom: auto;
  padding: 0 1rem;
  position: relative;
  text-align: center;

  @include md {
    background: none;
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.portfolio-project-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.portfolio-project {
  align-items: center;
  background: linear-gradient(180deg, #043f5a -4.28%, #032230 125.15%);
  color: #fff;
  display: flex;
  padding: 4rem 1rem;

  @include md {
    align-self: center;
    background: none;
    height: 29.5rem;
    margin: 0 2.5rem;
    max-width: 52rem;
    padding: 0 1rem;
    text-align: right;
  }

  &:nth-of-type(2n) {
    @include md {
      flex-direction: row-reverse;
      text-align: left;
    }
  }

  &__title {
    font-size: 2rem;
    margin: 0;
  }

  &__squiggle {
    margin-top: 1rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__tags {
    margin: 1rem 0;
    padding: 0;
  }

  &__tags-item {
    color: #1396d4;
    display: inline-block;
    font-size: 1rem;
    font-style: italic;
  }

  &__tags-item:not(:first-child)::before {
    color: #1396d4;
    content: '\00a0\2022\00a0\00a0';
    padding-left: 0.25rem;
  }

  &__external {
    color: #1396d4;
    font-size: 1rem;
  }

  &__external-project,
  &__external-award {
    text-decoration: none;
  }

  &__text {
    max-width: 60rem;
    width: 100%;
  }

  &__logo {
    display: none;
    margin-left: 3rem;
    max-width: 300px;
    width: 70%;

    @include md {
      display: block;
    }
  }

  &__logo--xs {
    margin-left: 2rem;
    max-width: inherit;
    width: inherit;
    @include md {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__logo--xs svg {
    width: 90px;
  }

  &:nth-of-type(2n) &__logo {
    margin-left: 2rem;
    margin-right: 3rem;
  }
}
