$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/* stylelint-disable-next-line selector-max-id */
#portfolio-stars {
  display: none;
  height: 33.75rem;

  @include md {
    display: block;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.Background-Top_svg__portfolio-background-top,
.Background-Bottom_svg__portfolio-background-bottom {
  bottom: -1px;
  display: none;
  height: auto;
  left: 50%;
  min-width: 1920px;
  position: absolute;
  top: 15vh;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;

  @include md {
    display: block;
  }
}

.portfolio {
  background-color: #032230;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 15vh;
  position: relative;

  @include md {
    height: 2392px;
  }
}

.portfolio-header {
  background-color: #043f5a;
  color: #fff;
  display: block;
  margin-bottom: auto;
  padding: 0 1rem;
  position: relative;
  text-align: center;

  @include md {
    background: none;
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.portfolio-project-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.portfolio-project {
  align-items: center;
  background: linear-gradient(180deg, #043f5a -4.28%, #032230 125.15%);
  color: #fff;
  display: flex;
  padding: 4rem 1rem;

  @include md {
    align-self: center;
    background: none;
    height: 34rem;
    margin: 0 2.5rem;
    max-width: 52rem;
    padding: 0 1rem;
    text-align: right;
  }

  @include lg {
    margin-left: 15rem;
    padding: 0;
  }

  @include xl {
    margin-left: 25rem;
  }

  &:nth-of-type(2n) {
    @include md {
      flex-direction: row-reverse;
      margin: 0 2.5rem;
      text-align: left;
    }
    @include lg {
      margin-right: 15rem;
    }
    @include xl {
      margin-right: 25rem;
    }
  }

  &__title {
    font-size: 2rem;
    margin: 0;
  }

  &__squiggle {
    margin-top: 1rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__tags {
    margin: 1rem 0;
    padding: 0;
  }

  &__tags-item {
    color: #1396d4;
    display: inline-block;
    font-size: 1rem;
    font-style: italic;
  }

  &__tags-item:not(:first-child)::before {
    color: #1396d4;
    content: '\00a0\2022\00a0\00a0';
    padding-left: 0.25rem;
  }

  &__external {
    color: #1396d4;
    font-size: 1rem;
  }

  &__external-project,
  &__external-award {
    text-decoration: none;
  }

  &__text {
    width: 100%;
    max-width: 60rem;
  }

  &__logo {
    display: none;
    margin-left: 3rem;
    max-width: 300px;
    width: 70%;

    @include md {
      display: block;
    }
  }

  &__logo--xs {
    max-width: inherit;
    margin-left: 2rem;
    width: inherit;
    @include md {
      display: flex;
      justify-content: flex-end;
    }
    svg {
      width: 90px;
    }
  }

  &:nth-of-type(2n) &__logo {
    margin-right: 3rem;
    margin-left: 2rem;
  }
}
