@function multiple-box-shadow($n) {
  $value: '#{random(2560)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2560)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

.star__Wrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.star {
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1;

  &::after {
    background: transparent;
    border-radius: 50%;
    content: ' ';
    position: absolute;
    top: 2000px;
  }
}

.stars1 {
  animation: animStar 150s linear infinite;
  box-shadow: multiple-box-shadow(900);
  height: 1px;
  width: 1px;

  &::after {
    box-shadow: multiple-box-shadow(900);
    height: 1px;
    width: 1px;
  }
}

.stars2 {
  animation: animStar 100s linear infinite;
  box-shadow: multiple-box-shadow(200);
  height: 2px;
  width: 2px;

  &::after {
    box-shadow: multiple-box-shadow(200);
    height: 2px;
    width: 2px;
  }
}

.stars3 {
  animation: animStar 50s linear infinite;
  box-shadow: multiple-box-shadow(100);
  height: 3px;
  width: 3px;

  &::after {
    box-shadow: multiple-box-shadow(100);
    height: 3px;
    width: 3px;
  }
}

@keyframes animStar {
  0% {
    transform: translate(-500px, -2000px);
  }

  100% {
    transform: translate(0, 0);
  }
}
