#team {
    padding: 2rem 0;
    background: #002735;
    position: relative;
    width: 100%;
    &:before {
        content: '';
        position: absolute;
        top: -1px; // 0 leaves spaces on some screens
        left: 0;
        height: 17vh;
        width: 100%;
        background-color: #2096d4;
        z-index: 1;
    }
}

.team-wrapper {
    position: relative;
    padding-top: 15vh;
    max-width: 1480px;
    margin: auto;
}

.team {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    p {
        line-height: 1.5rem;
        font-size: 1.125rem;
    }
    &__top-fold {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 120vh;
        z-index: 2;
        margin-top: auto;
        background: url(../assets/iceberg/Iceberg-fold_reverse.svg) no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        pointer-events: none;
    }

    &__header {
        color: #ffffff;
        position: relative;
        z-index: 10;
        margin-bottom: 2rem;

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            @media (max-width: 1023px) {
                padding: 0;
            }
        }
    }
}

.team-member {
    display: flex;
    flex-direction: column;
    background: #002735;
    color: #fff;
    flex-basis: calc(50% - 8rem);
    max-width: 400px;
    margin: 1rem 8rem;

    &:nth-of-type(2n + 1) {
        margin-right: 0;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        margin: 1rem 4rem;
        flex-basis: calc(50% - 4rem);

        &:nth-of-type(2n + 1) {
            margin-right: 0;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        margin: 1rem 2rem;
        flex-basis: calc(50% - 2rem);
        max-width: 336px;

        &:nth-of-type(2n + 1) {
            margin-right: 0;
        }
    }

    @media (min-width: 550px) and (max-width: 767px) {
        margin: 1rem 4rem;
        flex-basis: calc(100% - 4rem);
    }

    @media (min-width: 426px) and (max-width: 549px) {
        margin: 1rem 2rem;
        flex-basis: calc(100% - 2rem);
    }

    @media (max-width: 425px) {
        margin: 1rem 1rem;
        flex-basis: calc(100% - 1rem);
    }
}

.team-member__portrait {
    position: relative;
    display: flex;
    flex-shrink: 1;
    max-width: 400px;

    &-primary {
        position: relative;
    }

    &-secondary {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @media (pointer: fine) {
            .team-member:hover & {
                animation: 8s linear 0s infinite portraitMove;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.team-member__description {
    width: 100%;
    p {
        font-size: 1.125rem;
    }
}

.team-member__name {
    color: inherit;

    h2 {
        display: inline-block;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;

        &:after {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 8px;
            opacity: 0;
            transition: opacity 0.32s ease;
            background: url(../assets/ln.svg);
            vertical-align: middle;

            @media (pointer: coarse) {
                opacity: 1 !important;
            }
        }
    }
}

@media (pointer: fine) {
    .team-member__name:hover span:after {
        opacity: 1;
    }
}

.team-member__title {
    padding-top: 0.25rem;
    display: block;
    font-style: $font-family-light;
    font-weight: lighter;
    font-size: 1.125rem;
    opacity: 0.8;
}

.team-member__skills {
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0;
    line-height: normal;

    li {
        display: inline-block;
        font-size: 1rem;
        opacity: 0.8;

        &:before {
            padding-left: 3px;
            content: '\00a0\2022\00a0\00a0';
        }

        &:first-child {
            &:before {
                padding-left: 0;
                content: '';
            }
        }
    }
}

@keyframes portraitMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 8px);
    }
    75% {
        transform: translate(0, -8px);
    }
    100% {
        transform: translate(0, 0);
    }
}
