.team {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 19rem;
    background: #002735;
    @media (max-width: 1480px) {
        padding: 3rem 0;
    }

    & p {
        line-height: 1.5rem;
        font-size: 1.125rem;
    }

    & li {
        flex-basis: 33.3%;
        @media (max-width: 1080px) {
            flex-basis: 50%;
        }
        @media (max-width: 768px) {
            flex-basis: 100%;
        }
    }
}

.team-member {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #002735;
    color: #fff;
}

.team-member__portrait img {
    width: 250px;
}

.team-member__description {
    width: 100%;
    padding: 2rem 3.5rem;
    @media (max-width: 1680px) {
        padding: 2rem 3rem;
    }

    & p {
        font-size: 1.125rem;
    }
}

.team-member__name {
    font-size: 2rem;
}

.team-member__title {
    padding-top: 0.25rem;
    display: block;
    font-style: $font-family-light;
    font-weight: lighter;
    font-size: 1.125rem;
    opacity: 0.8;
}
