/* header transform */

.transform-header__jumbotron {
  position: relative;
  transition: all 1s ease;
  background-color: #1396d4;
  background-image: linear-gradient(to bottom, rgba(0, 39, 53, 0) 50%, $color-dark);
  color: #fff;

  &:before {
    background-color: #085375;
    background-image: linear-gradient(to bottom, rgba(0, 39, 53, 0) 50%, $color-dark);
  }
}

.transform-header__workflow {
  position: relative;
  background-color: $color-dark;
  color: #fff;

  &:before {
    background: $color-dark;
  }
}

.transform-header__jumbotron:before,
.transform-header__workflow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  opacity: 0;
  transition: all 1s ease;
}

.transform-header__jumbotron--alt:before,
.transform-header__workflow--alt:before {
  opacity: 1;
}
