/* App Header */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1em;
  z-index: 1000;
}
.app-header a {
  color: #fff;
  text-decoration: none;
}
.app-header svg {
  text-transform: uppercase;
  fill: #fff;
}
.app-header__logo {
  margin: 0;
}
.app-header__logo a {
  display: block;
  padding: 0.5em 1em;
}
.app-header__logo svg {
  display: inline-block;
  width: 3em;
  height: 2.25em;
  vertical-align: top;
}
.app-header__logo span {
  display: inline-block;
  padding: 0.75em 1em 0 0.5em;
}
@media (min-width: 768px) {
  .app-header {
    display: flex;
    padding: 1.5em 2em 0em;
  }
  .app-header__logo {
    flex: 1 1 100%;
  }
  .app-header__toggler {
    display: none;
  }
}
@media (min-width: 1024px) {
  .app-header {
    font-size: 1.25vw;
  }
}
.app-header__navigation {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
}
.app-header__navigation a {
  display: block;
  padding: 1em;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .app-header__navigation {
    display: flex;
  }
}

/* Toggler */

.app-header__toggle-checkbox {
  display: none;
}
.app-header__toggler {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.25em;
  height: 3.25em;
  margin: 0 0.5rem;
  padding: 0.5em;
  background: var(--color-primary);
  z-index: 1000;
  cursor: pointer;
  z-index: 2;
}
.app-header__toggler span {
  font: 0/0 a;
}
@media (max-width: 767px) {
  .app-header {
    background: var(--color-primary);
  }
  .app-header__logo {
    position: relative;
    z-index: 2;
    background: #2096D4;
  }
  .app-header__navigation {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    background: #2096D4;
    pointer-events: none;
    transform: translateY(-100%);
    transition: all 0.32s ease;
  }
  #app-header__toggler:checked ~ .app-header__navigation {
    pointer-events: auto;
    transform: translateY(0);
  }
}

.app-header__toggler span {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	transition: background-color .2s;
	background-color: #fff;
	font-size: 0;
}
.app-header__toggler span:before {
	transform: translateY(-250%);
}
.app-header__toggler span:after {
	transform: translateY(250%);
}
.app-header__toggler span:before,
.app-header__toggler span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	content: "";
	transition: all .4s;
	background: #fff;
	-moz-boz-sizing: border-box;
}
.app-header__toggle-checkbox:checked ~ .app-header__toggler span {
	background-color: rgba(0, 0, 0, 0);
}
.app-header__toggle-checkbox:checked ~ .app-header__toggler span:before {
	transform: translateY(0) rotate(45deg);
}
.app-header__toggle-checkbox:checked ~ .app-header__toggler span:after {
	transform: translateY(0) rotate(-45deg);
}