* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
html {
  font-size: var(--font-size);
}
body {
  margin: 0;
  background: var(--bg);
  color: var(--color);
}
.muted,
.muted a {
  color: var(--color--muted);
}
.mt-0 {
  margin-top: 0;
}
a {
  color: var(--color-primary);
}
.ico {
  width: 1.5em;
  height: 1.5em;
  fill: #fff;
  vertical-align: top;
}
.ico--sm {
  width: 1em;
  height: 1em;
  margin: 0.25em;
}
