.jumbotron {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 10em);
  background: url(../assets/jumbotron-bg.svg) center;
  background-size: cover;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -52.5%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.jumbotron__iceberg {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: float 8s ease-in-out infinite;
  max-width: 100vw;
  width: 100%;
  height: calc(100vh - 10em);
  transform: translate(-50%, -50%);
  background: url(../assets/jumbotron-content.svg) top;
  background-size: cover;
}

.jumbotron__waves {
  display: flex;
  width: 100vw;
  z-index: 1;
  opacity: 1;
  height: calc(100vh - 10em);
  margin-top: auto;
  background: url(../assets/jumbotron-waves.svg) center;
  background-size: cover;
}
