.jumbotron {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 10em);
  background: url(../assets/iceberg-sky.svg) center;
  background-size: cover;
}

.jumbotron__eskimo {
  max-width: 100vw;
  z-index: 1;
  margin-top: auto;
  background: url(../assets/iceberg-jetpack-eskimo.svg) top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 10em);
}

.jumbotron__sky {
  max-width: 100vw;
  margin-top: auto;
  background: url(../assets/iceberg-sky-clouds.svg) top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 10em);
}

.jumbotron__iceberg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100vw;
  width: 100%;
  height: calc(100vh - 10em);
  transform: translate(-50%, -50%);
  background: url(../assets/iceberg.svg) top;
  background-size: cover;
}

.jumbotron__waves {
  width: 100vw;
  z-index: 1;
  height: calc(100vh - 10em);
  margin-top: auto;
  background: url(../assets/iceberg-waves.svg) center;
  background-size: cover;
}
