@import 'oc';
@import 'variables';

@import 'general';
@import 'type';
@import 'images';
@import 'buttons';
@import 'forms';

@import 'grid';
@import 'layout';
@import 'navigation';
@import 'stars';
@import 'jumbotron';
@import 'work-flow';
@import 'section';

@import 'app';
@import 'team';
@import 'journey';
@import 'footer';

@import 'transform';
@import 'font';

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
    opacity: 0.5;
}
.cls-1 {
    fill: url(#linear-gradient);
}
.cls-2 {
    fill: url(#linear-gradient-2);
}
.cls-3 {
    fill: url(#linear-gradient-3);
}
.cls-4 {
    fill: url(#linear-gradient-4);
}
.cls-5 {
    fill: #08353f;
    opacity: 0.7;
}
