.team {
  display: flex;
  flex-wrap: wrap;
  background: #002735;
}

.team li {
  flex-basis: 25%;
}

.team-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #002735;
  color: #fff;
}

.team-member__portrait {
}

.team-member__description {
  padding: 2rem;
}

.team-member__description p {
  font-size: 1.125rem;
}

.team-member__name {
  font-size: 1.5rem;
}

.team-member__title {
  margin-left: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: right;
  text-transform: uppercase;
}
