/*
.team-member {
  display: flex;
  align-items: center;
}
.team-member__portrait {
  flex: 0 0 50%;
  margin: 0;
}
.team-member__about {
  flex: 0 0 50%;
  padding: 0 3rem;
}
.team-member__name {
  margin-top: 0;
}
.team-member__title {
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
}
.team-member__links a {
  display: inline-block;
  margin-right: 1em;
  font-weight: 600;
  text-decoration: none;
}
.team-member__links a:last-child {
  margin-right: 0;
}
*/

.team {
  display: flex;
  flex-wrap: wrap;
}
.team li {
  width: 25%;
}
.team-member {
  margin: 1rem;
  width: calc(100% - 2rem);
}
.team-member__portrait {
}
.team-member__about {
}
.team-member__name {
}
.team-member__title {
}
